.SessaoContato {
  position: relative;
  width: 100%;
  /* border: 3px solid red; */
}
.SessaoContato h2 {
  position: relative;
  left: 9%;
  font-size: calc(1% + 4rem);
  color: var(--blackColor);
}
.SessaoContato form {
  position: relative;
  bottom: 60px;
  width: inherit;
  height: inherit;
}

.SessaoContato form label input {
  position: relative;
  color: var(--blackColor);
  margin-top: 2%;
  font-size: calc(1% + 2rem);
  width: 35%;
}

.SessaoContato form label textarea {
  resize: none;
  width: 35%;
  margin-top: 2%;
  font-size: calc(1% + 2rem);
}

.SessaoContato form button {
  position: relative;
  margin-top: 1%;
  border: none;
  font-size: calc(1% + 2.5rem);
  color: var(--blackColor);
  background-color: var(--blueColor);
  border-radius: 20px;
  width: 35%;
  height: 8%;
  transition: 0.1s;
  cursor: pointer;
}

.SessaoContato form button:hover {
  color: var(--coldColor);
  background-color: var(--blackColor);
}
@media (max-width: 768px) {
  .SessaoContato h2 {
    left: 3%;
  }
}

@media (max-width: 674px) {
  .SessaoContato h2 {
    left: 17%;
  }
  .SessaoContato form {
    left: 17%;
  }
}

@media (max-width: 425px) {
  .SessaoContato h2 {
    left: 10%;
  }
  .SessaoContato form {
    left: 10%;
    width: 150%;
  }
}

@media (max-width: 320px) {
  .SessaoContato h2 {
    left: 10%;
    font-size: 3rem;
  }
  .SessaoContato form {
    top: -40px;
    left: 5%;
    width: 180%;
  }
  .SessaoContato form label input,
  .SessaoContato form label textarea {
    font-size: 1.7rem;
  }
}
