.SobreNos {
  display: flex;
  position: relative;
  width: 100%;
}

.SobreNos .SobreNosImage {
  width: calc(10% + 20rem);
}
.SobreNos .Texto {
  position: relative;
}
.SobreNos .Texto h2 {
  position: relative;
  font-size: 3rem;
  color: var(--blackColor);
}
.SobreNos .Texto p {
  position: relative;
  font-size: calc(1% + 1.3rem);
  width: 85%;
  bottom: 5%;
}
.SobreNos .Texto button {
  position: relative;
  color: var(--blackColor);
  background-color: var(--blueColor);
  border: none;
  bottom: 4%;
  right: 0.8%;
  font-size: calc(1% + 1.4rem);
  font-weight: bold;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  transition: 0.1s;
  cursor: pointer;
}
.SobreNos .Texto button:hover {
  background-color: var(--blackColor);
  color: var(--coldColor);
}
@media (max-width: 675px) {
  .SobreNos .SobreNosImage {
    display: none;
  }
  .SobreNos .Texto button {
    width: 30%;
  }
}
