.SobreNos {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 93vw;
  height: 30vw;
  font-size: 1.5vw;
}

.SobreNos .SobreNosImage {
  width: 30%;
}
.SobreNos .Texto {
  position: relative;
}
.SobreNos .Texto h2 {
  position: relative;
  font-size: 200%;
  color: var(--blackColor);
}
.SobreNos .Texto p {
  position: relative;
  font-size: 110%;
  width: 85%;
  bottom: 5%;
}
.SobreNos .Texto button {
  position: relative;
  color: var(--blackColor);
  background-color: var(--blueColor);
  border: none;
  bottom: 4%;
  right: 0.8%;
  font-size: 105%;
  border-radius: 20px;
  width: 15%;
  height: 10%;
  transition: 0.1s;
  cursor: pointer;
}
.SobreNos .Texto button:hover {
  background-color: var(--blackColor);
  color: var(--coldColor);
}
