.Produto {
  position: relative;
  margin-bottom: 3%;
  margin-top: 3%;
  left: 2%;
  background-color: var(--mintColor);
  border-radius: 10px;
  width: 25%;
  height: 340px;
  border: 15px solid var(--blackColor);
  transition: 0.1s;
  cursor: pointer;
}
.Produto:hover {
  background-color: var(--blackColor);
  border: 15px solid var(--blueColor);
  transform: scale(1.1);
}

.Produto img {
  position: relative;
  border-radius: 20%;
  width: calc(1% + 8rem);
  left: 30%;
  top: 8%;
}
.Produto section {
  position: relative;
  display: block;
  width: 100%;
  height: fit-content;
}

.Produto section h3 {
  position: relative;
  left: 37%;
  color: #181823;
  font-size: calc(1% + 2rem);
  transition: 0.1s;
}

.Produto section p {
  position: relative;
  text-align: center;
  bottom: 20px;
  color: #181823;
  font-size: calc(1% + 1.5rem);
  font-weight: bold;
  transition: 0.1s;
}

@media (max-width: 768px) {
  .Produto {
    width: 15%;
    margin-bottom: 1%;
  }
}

@media (max-width: 675px) {
  .Produto {
    width: 17%;
    margin-bottom: 1%;
  }
}

@media (max-width: 425px) {
  .Produto img {
    left: 20%;
  }
  .Produto section h3 {
    left: 30%;
  }
}

@media (max-width: 320px) {
  .Produto {
    width: 30%;
  }
  .Produto img {
    left: 25%;
  }
  .Produto section h3 {
    left: 30%;
  }
}
