.Produto {
  position: relative;
  background-color: var(--mintColor);
  border-radius: 10px;
  width: 25vw;
  height: 25vw;
  border: 0.8vw solid var(--blackColor);
  transition: 0.1s;
  cursor: pointer;
}
.Produto:hover {
  background-color: var(--blackColor);
  border: 0.8vw solid var(--blueColor);
  transform: scale(1.1);
}

.Produto img {
  position: relative;
  border-radius: 20%;
  width: 40%;
  left: 30%;
  top: 8%;
}
.Produto section {
  width: inherit;
  height: inherit;
}
