.SessaoProdutosDiv .SessaoProdutos {
  position: relative;
  overflow: hidden;
  width: 100%;
  bottom: 50px;
}
.SessaoProdutosDiv h2 {
  position: relative;
  left: 43%;
  color: var(--blackColor);
  font-size: calc(1% + 3rem);
}
.SessaoProdutosDiv .SessaoProdutos .ListaProdutos {
  position: relative;
  display: flex;
  width: 100%;
  left: 3%;
  gap: 5%;
  overflow: hidden;
  bottom: 2%;
}

@media (max-width: 768px) {
  .SessaoProdutosDiv .SessaoProdutos {
    overflow-x: auto;
  }
  .SessaoProdutosDiv .SessaoProdutos::-webkit-scrollbar {
    background: var(--coldColor);
  }
  .SessaoProdutosDiv .SessaoProdutos::-webkit-scrollbar-thumb {
    background-color: var(--mintColor);
  }
  .SessaoProdutosDiv h2 {
    left: 35%;
  }
  .SessaoProdutosDiv .SessaoProdutos .ListaProdutos {
    left: 0%;
    width: 300%;
  }
}
