.Avaliacao {
  position: relative;
  width: 60%;
}
.Avaliacao #comentario {
  position: relative;
  width: 98%;
  height: 90%;
  background-color: var(--coldColor);
}
.Avaliacao #comentario p {
  position: relative;
  left: 7%;
  top: 10%;
  width: 90%;
  font-size: calc(1% + 1.2rem);
  color: var(--blackColor);
}
.Avaliacao img {
  position: relative;
  bottom: 47%;
  left: 7%;
  border: 2px solid var(--blueColor);
  width: 25%;
  height: 40%;
}
.Avaliacao #NomeDeUsuario {
  position: relative;
  font-weight: bold;
  color: var(--blackColor);
  background-color: none;
  font-size: calc(1% + 1.8rem);
  left: 35%;
  bottom: 70%;
}

@media (max-width: 768px) {
  .Avaliacao #comentario {
    width: 140%;
    height: 410px;
  }
  .Avaliacao #comentario p {
    height: 230px;
    overflow: auto;
    font-size: calc(1% + 1.3rem);
  }
  .Avaliacao img {
    left: 10%;
    width: 30%;
    bottom: 130px;
  }
  .Avaliacao #NomeDeUsuario {
    left: 45%;
    bottom: 200px;
  }
}
