.Avaliacao {
  position: relative;
  width: 60vw;
  height: 32vw;
  font-size: 3vw;
}
.Avaliacao #comentario {
  position: relative;
  width: 98%;
  height: 90%;
  background-color: var(--coldColor);
}
.Avaliacao #comentario p {
  position: relative;
  left: 7%;
  top: 10%;
  width: 90%;
  font-size: 50%;
  color: var(--blackColor);
}
.Avaliacao img {
  position: relative;
  bottom: 47%;
  left: 7%;
  border: 0.3vw solid var(--blueColor);
  width: 25%;
  height: 40%;
}
.Avaliacao #NomeDeUsuario {
  position: relative;
  font-weight: bold;
  color: var(--blackColor);
  background-color: none;
  font-size: 80%;
  left: 35%;
  bottom: 70%;
}
