.SessaoAvaliacao {
  position: relative;
  display: flex;
  background-color: var(--mintColor);
  overflow: hidden;
  width: 100%;
}
.SessaoAvaliacao h2 {
  position: relative;
  left: 5%;
  width: 20%;
  color: var(--blackColor);
  font-size: calc(1% + 3.5rem);
  text-align: center;
}

.SessaoAvaliacao .Avaliacao {
  position: relative;
  left: 13%;
}

@media (max-width: 768px) {
  .SessaoAvaliacao {
    position: relative;
    display: block;
    height: fit-content;
  }
  .SessaoAvaliacao h2 {
    left: -2%;
    width: 100%;
    font-size: calc(1% + 3rem);
  }
  .SessaoAvaliacao .Avaliacao {
    left: 7%;
  }
}
