.SessaoAvaliacao {
  display: flex;
  background-color: var(--mintColor);
  overflow: hidden;
  height: 33vw;
  width: 98vw;
  font-size: 3vw;
}
.SessaoAvaliacao h2 {
  position: relative;
  left: 5%;
  width: 20%;
  color: var(--blackColor);
  font-size: 150%;
  text-align: center;
}

.SessaoAvaliacao .Avaliacao {
  position: relative;
  left: 13%;
}
