.BoasVindas {
  display: flex;
  background-color: var(--mintColor);
  font-size: 100vw;
  width: 100%;
}
.BoasVindas p {
  position: relative;
  color: var(--textColor);
  /* border: 3px solid green; */
  overflow-y: auto;
  font-size: calc(1% + 0.7rem);
  width: 50%;
  height: 38%;
  left: 4%;
  top: 60px;
}
.BoasVindas button {
  position: relative;
  border: none;
  font-size: calc(1% + 0.8rem);
  color: var(--blackColor);
  background-color: var(--blueColor);
  border-radius: 20px;
  width: 10%;
  top: 220px;
  height: fit-content;
  right: 38%;
  transition: 0.1s;
  cursor: pointer;
}
.BoasVindas button:hover {
  color: var(--coldColor);
  background-color: var(--blackColor);
}

.BoasVindas .ShopImage {
  position: relative;
  width: 50%;
}

@media (max-width: 900px) {
  .BoasVindas p {
    top: 20px;
  }
  .BoasVindas button {
    top: 170px;
  }
}
@media (max-width: 675px) {
  .BoasVindas {
    display: block;
    height: fit-content;
    padding-top: 1%;
  }
  .BoasVindas p {
    top: 0;
    left: 8%;
    /* border: 3px solid green; */
    width: 90%;
    height: 40%;
    font-size: calc(1.8% + 0.7rem);
    overflow-y: unset;
  }
  .BoasVindas button {
    position: relative;
    display: block;
    margin-bottom: 5%;
    font-size: calc(1% + 1rem);
    width: 20%;
    right: 0%;
    left: 38%;
    top: 0;
  }
  .BoasVindas .ShopImage {
    position: relative;
    display: block;
    left: 10%;
    width: 80%;
    top: -15%;
  }
}
