.BoasVindas {
  display: flex;
  background-color: var(--mintColor);
  font-size: 100vw;
  width: 98vw;
  height: 25vw;
}
.BoasVindas p {
  position: relative;
  color: var(--textColor);
  font-size: 1.8%;
  width: 45%;
  left: 2%;
  top: 22%;
}
.BoasVindas button {
  position: relative;
  border: none;
  font-size: 1.8%;
  color: var(--blackColor);
  background-color: var(--blueColor);
  border-radius: 20px;
  width: 10%;
  top: 70%;
  height: fit-content;
  right: 43%;
  transition: 0.1s;
  cursor: pointer;
}
.BoasVindas button:hover {
  color: var(--coldColor);
  background-color: var(--blackColor);
}

.BoasVindas .ShopImage {
  position: relative;
  width: 45%;
}
