.Navbar {
  /* overflow: hidden; */
  display: flex;
  font-size: 1.5vw;
  width: 98vw;
  height: 4vw;
}
.Navbar a {
  text-decoration: none;
  color: var(--blackColor);
}
.Navbar .logo {
  font-size: 180%;
}
.Navbar ul {
  position: relative;
  display: flex;
  left: 15%;
  width: 50%;
}
.Navbar ul li {
  position: relative;
  list-style-type: none;
  margin-left: 5%;
  bottom: 50%;
}
.Navbar ul li a {
  position: relative;
  font-size: 130%;
  transition: 0.2s;
}
.Navbar ul li a:hover {
  color: var(--blueColor);
}

.Navbar .userIcon {
  position: relative;
  color: var(--blackColor);
  height: 70%;
  left: 30%;
  top: 10%;
  transition: 0.2s;
  cursor: pointer;
}
.Navbar .userIcon:hover {
  color: var(--blueColor);
}
